body {
  background-color: #dfdcda;
}
/* trbl */

.language {
  text-decoration: none;
}

.name-title {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.circleBase {
  border-radius: 50%;
  /* behavior: url(PIE.htc); remove if you don't care about IE8 */
  background: black;
  padding: 2px;
  justify-content: center;
  cursor: pointer;
}

.type1 {
  width: 5px;
  height: 5px;
}
.type2 {
  width: 10px;
  height: 10px;
}
.type3 {
  width: 15px;
  height: 15px;
}
.draw {
  margin: auto 40px;
}
